:root {
  --color_light_grey: #474747;
  --color_dark_grey: #272727;
  --color_dark_grey-2: #3C3C3C;
  --color_white: #FFFFFF;
  --color_dark_white: #D8CDCD;
  --calendar_normal: #7986CB;
  --calendar_closed: #616161;
  --calendar_transfer: #F3C875;
  --calendar_success: #009587;
  --calendar_delete: #1b1b28;
  --calendar_no_check: #E67C73;
}

body .color_light_grey {
  color: var(--color_light_grey);
}
body .background_light_grey {
  color: white;
  background: var(--color_light_grey);
}
body .color_calendar_normal {
  color: var(--calendar_normal);
}
body .background_calendar_normal {
  color: white;
  background: var(--calendar_normal);
}
body .background_calendar_normal:after {
  background: linear-gradient(90deg, transparent, var(--calendar_normal) 80%);
}
body .color_calendar_closed {
  color: var(--calendar_closed);
}
body .background_calendar_closed {
  color: white;
  background: var(--calendar_closed);
}
body .background_calendar_closed:after {
  background: linear-gradient(90deg, transparent, var(--calendar_closed) 80%);
}
body .color_calendar_transfer {
  color: var(--calendar_transfer);
}
body .background_calendar_transfer {
  color: white;
  background: var(--calendar_transfer);
}
body .background_calendar_transfer:after {
  background: linear-gradient(90deg, transparent, var(--calendar_transfer) 80%);
}
body .color_calendar_success {
  color: var(--calendar_success);
}
body .background_calendar_success {
  color: white;
  background: var(--calendar_success);
}
body .background_calendar_success:after {
  background: linear-gradient(90deg, transparent, var(--calendar_success) 80%);
}
body .color_calendar_delete {
  color: var(--calendar_delete);
}
body .background_calendar_delete {
  color: white;
  background: var(--calendar_delete);
}
body .background_calendar_delete:after {
  background: linear-gradient(90deg, transparent, var(--calendar_delete) 80%);
}
body .color_calendar_no_check {
  color: var(--calendar_no_check);
}
body .background_calendar_no_check {
  color: white;
  background: var(--calendar_no_check);
}
body .background_calendar_no_check:after {
  background: linear-gradient(90deg, transparent, var(--calendar_no_check) 80%);
}

:root {
  --nav_size: 300px;
}

.nav {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color_light_grey);
  color: var(--color_white);
  width: var(--nav_size);
  height: 100vh;
  box-sizing: border-box;
  padding: 40px 20px;
  padding-right: 0;
  border-radius: 0 50px 50px 0;
}
.nav .logo {
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}
.nav .logo .img {
  height: 100px;
  width: 100px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background: rgba(128, 128, 128, 0.6);
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(134, 133, 133, 0.6);
}
.nav .nav_list a {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  grid-gap: 7px;
  position: relative;
}
.nav .nav_list a .img {
  padding: 10px;
  border-radius: 10px;
  background: var(--color_dark_grey-2);
  width: 20px;
  height: 20px;
}
.nav .nav_list a em {
  font-size: 20px;
  color: var(--color_dark_white);
}
.nav .nav_list a.active {
  z-index: 1;
  border-radius: 20px 0 0 20px;
  position: relative;
  background: var(--color_dark_grey);
  grid-gap: 20px;
}
.nav .nav_list a.active em {
  color: var(--color_white);
}
.nav .nav_list a.active:before, .nav .nav_list a.active:after {
  z-index: 2;
  content: "";
  height: 30px;
  width: 30px;
  background: var(--color_dark_grey);
  position: absolute;
  right: 0;
}
.nav .nav_list a.active:before {
  top: 1px;
  transform: translateY(-100%);
}
.nav .nav_list a.active:after {
  bottom: 1px;
  transform: translateY(100%);
}
.nav .nav_list a.active > .img:before, .nav .nav_list a.active > .img:after {
  z-index: 3;
  content: "";
  height: 33px;
  width: 33px;
  background: var(--color_light_grey);
  position: absolute;
  right: 0;
}
.nav .nav_list a.active > .img:before {
  top: 0;
  transform: translateY(-100%);
  border-radius: 0 0 50px 0;
}
.nav .nav_list a.active > .img:after {
  bottom: 0;
  transform: translateY(100%);
  border-radius: 0 50px 0 0;
}
.nav .footer .settings {
  display: flex;
  align-items: center;
}
.nav .footer .light {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: var(--color_dark_grey-2);
  border-radius: 10px;
  margin-right: 30px;
}
.nav .footer .language {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 500;
}
.nav .footer .language .img {
  height: 25px;
  width: 25px;
  margin-right: 13px;
}
.nav .footer .links {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  width: calc(100% - 30px);
  height: 40px;
  border-radius: 10px;
  background: var(--color_dark_grey);
}
.nav .footer .links li {
  display: inline-block;
}

@media all and (max-height: 800px) {
  .nav .logo .img {
    height: 80px;
    width: 80px;
  }
  .nav h1 {
    font-size: 25px;
  }
  .nav .nav_list a {
    padding: 18px;
  }
  .nav .nav_list a .img {
    height: 15px;
    width: 15px;
  }
  .nav .nav_list a em {
    font-size: 20px;
  }
  .nav .footer .links {
    display: none;
  }
}
@media all and (max-width: 1500px) {
  .nav {
    width: 0px;
  }
}
.menu_top {
  padding: 35px 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 50px;
  color: white;
}
.menu_top span {
  color: var(--color_white);
}
.menu_top .menu_nav, .menu_top .menu_profile {
  display: flex;
  align-content: center;
  align-items: center;
  height: 65px;
  padding: 0 20px;
  background: var(--color_light_grey);
  border-radius: 10px;
}
.menu_top .item_menu {
  font-size: 22px;
  display: flex;
  grid-gap: 13px;
  padding: 10px 15px;
  border-radius: 10px;
}
.menu_top .item_menu:hover {
  background: var(--color_dark_grey);
}
.menu_top .today {
  grid-gap: 0;
  padding: 0;
}
.menu_top .today .item_container {
  padding: 10px 5px;
  height: 1.15em;
}
.menu_top .today .item_container:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.menu_top .today .item_container:nth-child(2) {
  border-left: 1px dashed var(--color_light_grey);
  border-right: 1px dashed var(--color_light_grey);
}
.menu_top .today .item_container:nth-child(3) {
  border-radius: 0 10px 10px 0;
}
.menu_top .today .item_container:hover {
  background: #555555;
}
.menu_top .img {
  height: 15px;
  width: auto;
}
.menu_top .coin {
  display: flex;
  align-items: center;
  grid-gap: 7px;
}
.menu_top .coin .img {
  height: 28px;
  width: 51px;
}
.menu_top .coin span {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 500;
}
.menu_top .menu_profile {
  cursor: pointer;
  width: var(--nav_size);
  box-sizing: border-box;
  grid-gap: 88px;
  position: relative;
  padding: 10px 30px;
  z-index: 99;
}
.menu_top .menu_profile .menu_list {
  background: var(--color_light_grey);
  padding: 0 30px;
  position: absolute;
  transform: translateY(100%);
  left: 0;
  right: 0;
  transition-duration: 0.4s;
  height: auto;
  max-height: 0;
  overflow: hidden;
  bottom: 10px;
}
.menu_top .menu_profile .menu_list li {
  margin-bottom: 5px;
}
.menu_top .menu_profile .profile_avatar:hover .menu_list {
  max-height: 200px;
  padding: 10px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu_top .profile_avatar {
  height: 53px;
  width: 53px;
  border-radius: 10px;
  overflow: hidden;
}

@media all and (max-width: 1225px) {
  .menu_top h2.item_menu {
    display: none;
  }
}
@media all and (max-width: 964px) {
  .menu_top .menu_nav {
    width: auto;
  }
  .menu_top .menu_nav .item_menu span {
    display: none;
  }

  .item_menu.statistic {
    margin: 0;
  }
}
@media all and (max-width: 730px) {
  .menu_top, body .content {
    padding: 20px 30px;
  }
}
@media all and (max-width: 610px) {
  .coin .img {
    display: none;
  }

  .menu_top .profile_avatar {
    height: 40px;
    width: 40px;
  }
}
@media all and (max-width: 540px) {
  .menu_top .menu_profile {
    background: none;
    padding: 0;
  }

  .menu_top .coin {
    display: none;
  }

  .menu_top .profile_avatar {
    height: 50px;
    width: 50px;
  }

  .menu_top {
    grid-gap: 20px;
  }

  .menu_top .menu_nav {
    padding: 0 15px;
  }
}
.menu_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu_right .payed_naw input, .menu_right .payed_naw select {
  display: block;
  width: 100%;
  color: black;
}

.content_item {
  box-sizing: border-box;
  background: var(--color_light_grey);
  border-radius: 10px;
  width: var(--nav_size);
  padding: 10px 30px;
}
.content_item h2 {
  color: var(--color_white);
  margin-bottom: 8px;
}
.content_item h2 .button {
  font-size: 15px;
}
.content_item td {
  padding: 4px 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: var(--color_white);
  font-size: 15px;
}
.content_item .info td:nth-child(1) {
  width: 100%;
}
.content_item .info td:nth-child(2) {
  text-align: end;
}
.content_item .filter .mini_img {
  height: 100%;
  width: 100%;
  background-image: url("/res/Dead.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.content_item .filter .no_check .img {
  background: var(--color_dark_grey-2);
}
.content_item .filter .check .mini_img {
  background-image: url("/res/Check.svg");
}
.content_item .filter .img {
  border-radius: 5px;
  margin-right: 20px;
  padding: 10px;
  height: 22px;
  width: 22px;
}
.content_item.add_lesson table {
  width: 10px;
}
.content_item.add_lesson input, .content_item.add_lesson select {
  border-radius: 5px;
  padding: 5px 7px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  color: black;
}
.content_item.add_lesson .buttons {
  display: flex;
  justify-content: space-between;
}
.content_item .buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}
.content_item .buttons button {
  font-size: 20px;
}
.content_item .buttons img {
  margin: auto;
  height: 20px;
}
.content_item.lesson_info table {
  width: 100%;
}
.content_item.lesson_info td:nth-child(2) {
  text-align: end;
}
.content_item.lesson_info button {
  padding: 0;
  width: 2em;
  height: 2em;
}
.content_item.transaction_info table {
  width: 100%;
}
.content_item.transaction_info td:nth-child(2) {
  text-align: end;
}
.content_item.transaction_info button {
  padding: 0;
  width: 2em;
  height: 2em;
}

.burger_right {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 80vh;
  border-radius: 10px 0 0 10px;
  background: var(--color_light_grey);
  transition-duration: 50ms;
}
.burger_right:hover {
  width: 15px;
}

.popup_top {
  position: fixed;
  z-index: 110;
  top: 0;
  right: 20px;
  padding: 10px 20px;
  background: green;
  color: white;
  transition-duration: 1s;
  transform: translateY(-100%);
  opacity: 0;
  border-radius: 10px 0 5px 5px;
}
.popup_top.open {
  transform: translateY(20px);
  opacity: 0.85;
}
.popup_top:before {
  content: "";
  position: absolute;
  right: 0;
  top: -1.9em;
  font-size: 7px;
  border: 1em solid transparent;
  border-right: 1.3em solid green;
  border-bottom: 1em solid green;
}
.popup_top.error {
  background: red;
}
.popup_top.error:before {
  border: 1em solid transparent;
  border-right: 1em solid red;
  border-bottom: 1em solid red;
}

.body {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

#body .no_display {
  display: none;
}

.button {
  background: orange;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.hide {
  display: none;
}

main {
  background: var(--color_dark_grey);
  display: grid;
  grid-template-columns: auto 1fr;
}

h2 {
  margin-left: auto;
  color: var(--color_dark_white);
  font-size: 22px;
}

.relative {
  position: relative;
}

.content {
  padding: 10px 40px 90px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 50px;
}

.section {
  display: grid;
  grid-template-rows: auto 1fr;
}

.progress_reload {
  position: relative;
}
.progress_reload:before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background: url("/res/progress.jpg");
  background-size: cover;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.progress_reload:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(120, 120, 120, 0.2);
  z-index: 19;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

table.calendar_table {
  border-collapse: collapse;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  border-spacing: 0;
  caret-color: transparent;
  font-weight: 400;
  font-size: 20px;
  color: var(--color_dark_white);
}
table.calendar_table .data {
  font-size: 12px;
}
table.calendar_table th {
  color: var(--color_dark_white);
  font-size: 22px;
}
table.calendar_table td {
  width: 220px;
  position: relative;
  border-right: 0.1px solid var(--color_light_grey);
  border-bottom: 0.1px solid var(--color_light_grey);
}
table.calendar_table td.time {
  font-weight: 400;
  font-size: 20px;
  color: var(--color_dark_white);
  position: relative;
}
table.calendar_table td.time:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  height: 4px;
  width: 20px;
  background: var(--color_dark_grey);
}
table.calendar_table p {
  font-size: 13px;
  font-weight: 200;
}
table.calendar_table .item {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  font-size: 15px;
}
table.calendar_table .item p {
  white-space: nowrap;
}
table.calendar_table .calendar_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.calendar_new {
  overflow-y: scroll;
  overflow-x: auto;
  height: calc(100vh - 70px - 70px - 50px);
  --lesson_item_height: 45px;
  display: flex;
}
.calendar_new::-webkit-scrollbar {
  width: 0px;
}
.calendar_new .day {
  position: relative;
  width: 100%;
}
.calendar_new .day .day_name {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  height: 50px;
  font-size: 22px;
  color: var(--color_dark_white);
  z-index: 5;
}
.calendar_new .day .day_name p:nth-child(2) {
  font-size: 12px;
}
.calendar_new .day:hover > .time_item, .calendar_new .day:hover > .day_name {
  transition-duration: 0.2s;
  background: rgba(236, 232, 246, 0.02);
}
.calendar_new .day.sub_day .day_name {
  background: none;
}
.calendar_new .lesson_item {
  color: white;
  height: calc(var(--lesson_item_height) - 1px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  top: 45px;
  left: 1px;
  right: 1px;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
}
.calendar_new .lesson_item .count {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--color_dark_grey);
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
}
.calendar_new .lesson_item p {
  font-size: 12px;
}
.calendar_new .lesson_item p.name {
  margin-bottom: 1px;
}
.calendar_new .time_item {
  box-sizing: border-box;
  padding: 1px;
  padding-right: 12px;
  height: var(--lesson_item_height);
  border-left: 1px solid var(--color_light_grey);
  border-bottom: 1px solid var(--color_light_grey);
}
.calendar_new .sub_day {
  border-left: none;
  width: 442px;
}
.calendar_new .sub_day .time_item {
  position: relative;
  border: none;
}
.calendar_new .sub_day .time_item span {
  transform: translateY(-50%);
  color: rgba(217, 217, 217, 0.85);
  position: absolute;
  top: 50%;
  line-height: -22em;
}
.calendar_new .sub_day .time_item:after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--color_light_grey);
  width: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.calendar_new .item {
  height: 100%;
  background: rebeccapurple;
}

.transactions {
  overflow-y: scroll;
  display: block;
}
.transactions::-webkit-scrollbar {
  width: 0px;
}
.transactions .list {
  border-spacing: 0;
  empty-cells: hide;
}
.transactions .list tr {
  height: 40px;
}
.transactions .list tr.active td {
  background: lightblue;
}
.transactions .list td {
  text-align: center;
  border-bottom: 1px solid #F4EEE8;
  transition: all 0.5s linear;
}
.transactions .list td.id {
  padding-left: 10px;
  padding-right: 15px;
}
.transactions .list td.student_name, .transactions .list td.professor_name {
  width: 200px;
}
.transactions .list td.amount {
  width: 82px;
}
.transactions .list td.type {
  width: 110px;
}
.transactions .list td.status {
  width: 150px;
}
.transactions .list td.created_at {
  width: 200px;
}
.transactions .list td:first-child {
  text-align: left;
  color: #3D3511;
  font-weight: bold;
}
.transactions .list th {
  padding: 10px 20px;
  color: #3D3511;
  border-bottom: 1px solid #F4EEE8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.transactions .list td:nth-child(even) {
  background: var(--calendar_transfer);
}
.transactions .list td:nth-child(odd) {
  background: #D1C7BF;
}
.transactions .list th:nth-child(even) {
  background: var(--calendar_transfer);
}
.transactions .list th:nth-child(odd) {
  background: #D1C7BF;
}
.transactions .list .round-top {
  border-top-left-radius: 5px;
}
.transactions .list .round-bottom {
  border-bottom-left-radius: 5px;
}
.transactions .list tr:hover td {
  background: #D1C7BF;
  font-weight: bold;
}

.payed {
  display: grid;
  grid-template-columns: 1fr auto;
}
.payed h2 {
  margin-bottom: 20px;
}
.payed .card_input {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  width: 310px;
  color: white;
  background: url("/res/Smurf.jpg");
}
.payed .header_input {
  display: flex;
  justify-content: space-between;
}
.payed .header_input h3 {
  font-size: 15px;
  font-weight: 700;
}
.payed .header_input p {
  font-size: 13px;
}
.payed .numbers {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.payed .numbers input {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  width: 3em;
}
.payed .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payed .data input {
  border: none;
  color: black;
  font-size: 13px;
  text-align: center;
  width: 2em;
}
.payed .data .data_name {
  font-size: 10px;
}
.payed .logo_card {
  height: 50px;
}

main {
  height: 100vh;
  overflow: hidden;
}

.rozetka .list {
  font-family: BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  font-weight: 400;
}
.rozetka .list .card {
  width: 166px;
  padding: 16px;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  position: relative;
}
.rozetka .list .mess {
  grid-column: 6;
  border-left: 1px solid #e9e9e9;
  font-size: 14px;
  color: blue;
}
.rozetka .list .like {
  font-size: 24px;
  color: #ffa900;
  position: absolute;
  right: 10px;
  top: 10px;
}
.rozetka .list .img {
  width: 100%;
}
.rozetka .list .img img {
  width: 100%;
  height: auto;
}
.rozetka .list h3 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
}
.rozetka .list p {
  color: #333333;
}
.rozetka .list .old_price {
  color: #a6a5a5;
  text-decoration: line-through;
  font-size: 14px;
  height: 14px;
}
.rozetka .list .price {
  color: #221f1f;
  font-size: 24px;
}
.rozetka .list em {
  font-size: 12px;
  color: #797878;
  font-style: normal;
}
