:root {
    --color_light_grey: #474747;
    --color_dark_grey: #272727;
    --color_dark_grey-2: #3C3C3C;
    --color_white: #FFFFFF;
    --color_dark_white: #D8CDCD;
    //calendar_status
    --calendar_normal: #7986CB;
    --calendar_closed: #616161;
    --calendar_transfer: #F3C875;
    --calendar_success: #009587;
    --calendar_delete: #1b1b28;
    --calendar_no_check: #E67C73;
}
.color_light_grey{
    color: var(--color_light_grey);
}
.background_light_grey{
    background: var(--color_light_grey);
}

.color_calendar_normal{
    color: var(--calendar_normal);
}
.background_calendar_normal{
    background: var(--calendar_normal);
}
.color_calendar_closed{
    color: var(--calendar_closed);
}
.background_calendar_closed{
    background: var(--calendar_closed);
}
.color_calendar_transfer{
    color: var(--calendar_transfer);
}
.background_calendar_transfer{
    background: var(--calendar_transfer);
}
.color_calendar_success{
    color: var(--calendar_success);
}
.background_calendar_success{
    background: var(--calendar_success);
}
.color_calendar_delete{
    color: var(--calendar_delete);
}
.background_calendar_delete{
    background: var(--calendar_delete);
}
.color_calendar_no_check{
    color: var(--calendar_no_check);
}
.background_calendar_no_check{
    background: var(--calendar_no_check);
}
