@import "variable";
@import "component";

.body{
    height: 100vh;
}
.overflow-hidden{
    overflow: hidden;
}

#body .no_display {
    display: none;
}

.button {
    background: orange;
    padding: 5px 10px;
    border: none;
    border-radius: $border_radius;
    //display: inline-block;
}

.hide {
    display: none;
}

main {
    background: var(--color_dark_grey);
    display: grid;
    grid-template-columns: auto 1fr;
}

h2 {
    margin-left: auto;
    color: var(--color_dark_white);
    font-size: 22px;
}

.relative {
    position: relative;
}

.content {
    padding: 10px $padding_wrapper 90px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: $grid_gap;
}

.section {
    display: grid;
    grid-template-rows: auto 1fr;
}

.progress_reload {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 70px;
        width: 70px;
        background: url("/res/progress.jpg");
        background-size: cover;
        z-index: 20;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(120, 120, 120, .20);
        z-index: 19;
    }
}

.disable {
    pointer-events: none;
    opacity: .5;

}

@import "page";
main {
    height: 100vh;
    overflow: hidden;


}

.rozetka .list {
    font-family: BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    font-weight: 400;
    .card {
        width: 166px;
        padding: 16px;
        border-bottom: 1px solid rgb(233, 233, 233);
        border-right: 1px solid rgb(233, 233, 233);
        position: relative;
    }
    .mess{
        grid-column: 6;
        border-left: 1px solid rgb(233, 233, 233);
        font-size: 14px;
        color: blue;
    }
    .like {
        font-size: 24px;
        color: #ffa900;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .img {
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }

    h3 {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 8px;
    }
    p{
        color: rgb(51, 51, 51);
    }
    .old_price{
        color: rgb(166, 165, 165);
        text-decoration: line-through;
        font-size: 14px;
        height: 14px;
    }
    .price {
        color: rgb(34, 31, 31);

        font-size: 24px;

    }

    em {
        font-size: 12px;
        color: rgb(121, 120, 120);
        font-style: normal;

    }
}
