@import "variable";
@import "component";

body {
    background: var(--color_dark_grey);
    display: grid;
    grid-template-columns: auto 1fr;
}

h2 {
    margin-left: auto;
    color: var(--color_dark_white);
    font-size: 22px;
}

.content {
    padding: 10px 80px 46px;
}

.section {
    display: grid;
    grid-template-rows: auto 1fr;
}



table {
    td {
        position: relative;
    }

    .item {
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 7px;
        background: var(--calendar_normal);
        font-size: 15px;

        p {
            white-space: nowrap;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 30px;
            height: 100%;
            background: linear-gradient(90deg, transparent, var(--calendar_normal) 80%);
        }

        &.closed {
            &:after {
                background: linear-gradient(90deg, transparent, var(--calendar_closed) 80%);
            }

            background: var(--calendar_closed);
        }

        &.transfer {
            &:after {
                background: linear-gradient(90deg, transparent, var(--calendar_transfer) 80%);
            }

            background: var(--calendar_transfer);
            color: var(--color_white);
        }

        &.success {
            &:after {
                background: linear-gradient(90deg, transparent, var(--calendar_success) 80%);
            }

            background: var(--calendar_success);
        }

        &.delete {
            &:after {
                background: linear-gradient(90deg, transparent, var(--calendar_delete) 80%);
            }

            background: var(--calendar_delete);
        }

    }

}


